* {
  color: whitesmoke !important;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#448AFF), color-stop(#305fb1), to(#152b52)) !important;
  background: linear-gradient(#448AFF, #305fb1, #152b52) !important;
}

.bor {
  -webkit-box-shadow: 5px 10px 10px 5px #152b52;
          box-shadow: 5px 10px 10px 5px #152b52;
}

/*  start navbar*/
.fcolor * {
  color: whitesmoke !important;
}

.sidenavbar {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background: -webkit-gradient(linear, left top, left bottom, from(#448AFF), color-stop(#305fb1), to(#152b52)) !important;
  background: linear-gradient(#448AFF, #305fb1, #152b52) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important !important;
  color: whitesmoke;
  height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidenavbar * {
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
}

.imgbox {
  width: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#448AFF), color-stop(stealblue), to(blue));
  background-image: linear-gradient(#448AFF, stealblue, blue);
  border-radius: 30px;
  margin-top: 1em;
}

.patient_img {
  width: 50%;
  height: 150px;
  background-color: aqua;
  color: red;
  border-radius: 30px;
}

.sidenaveintem * {
  background-color: inherit;
  font-size: 25px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  border: none !important;
}

.btn-link:hover {
  width: 100%;
  background-color: #254683;
  font-size: 25px;
  color: whitesmoke;
  border: none !important;
}

.subbtn:hover {
  border: none !important;
  width: 100%;
  background-color: #c80d0d;
  font-size: 25px;
  color: rgba(245, 245, 245, 0.651);
}

hr {
  border: 0.5px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 30px;
}

.viewprofile {
  -webkit-box-shadow: 5px 10px 10px 5px #152b52;
          box-shadow: 5px 10px 10px 5px #152b52;
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.editprofile {
  -webkit-box-shadow: 5px 10px 10px 5px #152b52;
          box-shadow: 5px 10px 10px 5px #152b52;
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important;
  display: none;
  background-repeat: no-repeat;
  opacity: 0.8;
}

legend {
  font-size: 25px;
}

.divitemform {
  width: 18vw;
}

label {
  font-size: 25px;
  font-weight: 700;
}

.search_bar {
  background-color: #000000;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  padding-top: 10px;
}

.doc {
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ReadMore {
  font-weight: bold;
}

.ReadMore:hover {
  color: white;
}

body > div > div > div.col-md-10.bor > div.container-fluid.Mydoctors.bg-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.doc {
  margin: 6px;
  padding: 5px;
}

.Medicines_List {
  border: 1px solid black;
  background-color: gainsboro;
}

small {
  display: none;
}

#myModal {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  width: 100%;
  -webkit-box-shadow: 5px 10px 15px grey;
          box-shadow: 5px 10px 15px grey;
}

fieldset {
  width: 100%;
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important;
}

.modal-content {
  background-color: linear-gradient(#448AFF, #305fb1, #152b52) !important;
  width: 122%;
}

.donere {
  color: #2f00ff;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: font-size 3s;
  transition: font-size 3s;
}

.donere:hover {
  font-size: 25px;
  color: #7c006b;
}

#collapsibleNavId > ul:nth-child(2) > img {
  width: 15px;
}

.conty {
  width: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  margin-left: 10px !important;
}

#collapsibleNavId > ul:nth-child(2) > i.fa.fa-arrows-alt {
  margin-right: 5px !important;
}

input, label, legend {
  color: black !important;
  font-weight: 900 !important;
}

.bg-dark {
  background-color: #2263d4 !important;
}

body > nav > button {
  border: none !important;
}
/*# sourceMappingURL=index.css.map */